/* Root CSS para colores y/o estilos con mucha importancia o que se repiten mucho en todo el código */
:root {
    --light-blue: #6BA7C9;
    --white: #ffffff;
}

/* Estilos Universales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header */

    /* Bootstrap styles - Menú hamburguesa */
    header {
        height: 4rem;
        padding: 0 4rem;
        background-color: var(--white);
        z-index: 1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
        top: 0; /* ← Porque no reconoce como clase de bootstrap*/
        display: flex;
        justify-content: space-evenly;
    }

    .logo {
        font-weight: 700;
        color: var(--light-blue);
        cursor: pointer;
    }

    .navbar-nav {
        width: fit-content;
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header__nav li:not(:first-child) {
        margin-left: 1.5rem;
    }

    .header__nav li a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
    }

    .collapse,
    .navbar-collapse {
        display: initial;
    }

    .header__nav li:not(:first-child) {
        margin-left: 1.5rem;
    }

    .header__nav li a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
    }

    /* ↓ Para mostrar los elementos del nav en tamaño desktop */
    .collapse:not(.show) {
        display: initial;
    }

    .button {
        width: 120px;
        height: 40px;
        background-color: var(--light-blue);
        border-radius: 2rem;
        margin-top: -0.5rem;
        font-size: 13px;
        font-weight: 600;
    }

/* Main Section */

    /* ↓ Estilos aplicables a c/primera sección de c/página
        (Que debido al position-fixed aplicado en el header, el flujo inicial del contenido se modifica) ↓ */
    section:first-of-type {
        margin-top: 15vh;
    }

    section {
        margin-bottom: 10vh;
    }

    button:focus {
        outline: none;
    }

    .main-section__text {
        width: 30rem;
    }

    h1 {
        font-size: 40px;
        font-weight: 700;
        color: var(--light-blue);
    }

    h2 {
        font-size: 25px;
        font-weight: 400;
        color: #294D61;
    }

    p {
        margin: 1rem 0;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.5);
    }

    .main-section__button {
        width: 120px;
        height: 40px;
        background-color: var(--light-blue);
        border-radius: 0 2rem 2rem 2rem;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
    }

    .main-section__img {
        width: 35rem;
    }

/* Sección de Servicios (Services Section) */

    h3,
    .section-name {
        font-size: 20px;
        font-weight: 600;
        width: fit-content;
        margin: auto;
    }

    .services-section__items-container {
        justify-content: space-evenly;
    }

    .services-section__text-container,
    .contact-section__text-container,
    .text-container {
        width: 600px;
        text-align: center;
        margin: auto;
    }

    .services-section__items-container ul {
        list-style-image: url('../assets/Bullet\ Points.svg');
        list-style-position: inside;
    }

    .bold-text {
        font-weight: 700;
        color: #6BA7C9;
    }

    .cta-container {
        width: fit-content;
        margin: 2rem auto;
    }

    .cta {
        padding: 1rem;
        font-size: 1em;
        font-weight: 700;
        color: #fff;
        background-color: var(--light-blue);
        border: none;
        border-radius: 20rem;
        cursor: pointer;
    }

    /* Estilos particulares para los botones con función CTA (Call To Action) de tipo "Submit" para envío de formularios */
    button.cta[type="submit"] {
        padding: 1rem 2rem;
    }

/* Sección "Sobre Nosotros" (About Section) */
    .about-section {
        background-color: #C6E8F9;
        height: 25rem;
    }

    .data {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .data__number {
        font-weight: 700;
        font-size: 40px;
        color: var(--light-blue);
    }

    .data__concept {
        font-weight: 400;
        font-size: 20px;
        color: var(--light-blue);
    }

/* Sección de trabajos realizados/Portfolio */

    .social-container {
        width: fit-content;
        margin: 1rem auto;
    }

    .social__profile:not(:first-of-type) {
        margin-left: 2rem;
    }

    .profile__logo {
        width: 1rem;
        margin-right: .5rem;
        cursor: pointer;
    }

    .profile__hyperlink {
        font-weight: 600;
        font-size: 12px;
        color: var(--light-blue);
    }

    .projects-container {
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;
        margin: 1rem auto;
    }

    .project {
        width: 9rem;
        margin: auto;
    }

    .project__preview-image {
        width: 9rem;
    }

    .project__name {
        margin: 0;
        font-size: 13px;  
        font-weight: 700;
        font-size: 16px;
        color: var(--light-blue);
        cursor: pointer;
    }

    .project__provided-services {
        margin: 0;
        font-size: 13px;  
    }

/* Testimonial Section */

    .carousel-indicators {
        position: initial;
        width: 100%;
        margin: 2rem auto 5rem;
        display: flex;
        justify-content: center;
    }

    .carousel-indicators button {
        height: 1rem;
        width: 1rem;
        border: none;
        border-radius: 50%;
        background-color: rgba(107, 166, 201, 0.608);
    }

    .carousel-indicators button:not(:first-child) {
        margin-left: 2rem;
    }

    .carousel-indicators button.active {
        background-color: rgba(5, 60, 92, 0.608)
    }

    .testimonial-section h3 {
        margin: 2rem auto;
    }

    .testimonial-card {
        width: 30rem;
        height: 20rem;
        background-color: #EDEDED;
        border-radius: 1rem;
        padding: 2rem;
    }

    .client-data img {
        width: 50px;
        border-radius: 50%;
    }

    .client-data span {
        margin-left: 1rem;
        position: absolute;
    }

    .client-data span:not(:first-of-type) {
        color: rgba(0, 0, 0, 0.3);
        margin-top: 1.5rem;
    }

    .quote p {
        width: 80%;
        margin: 2rem;
    }

    .quote-decoration {
        position: relative;
        top: 10%;
        left: 46%;
    }

/* Sección de contacto (Contact Section) */

    form {
        width: fit-content;
        margin: auto;
    }

    fieldset {
        border: 0;
    }

    .field {
        width: fit-content;
        display: inline-block;
        margin: 2rem 0;
    }

    .field:not(:first-of-type) {
        margin-left: 3rem;
    }

    form label {
        font-size: 16px;
        font-weight: 700;
    }

    .required {
        color: #cf3950;
    }

    form input, #message {
        font-size: 14px;
        outline: none;
        border:none;
        border-bottom: 1px solid #EDEDED;
        width: 300px;
        padding: .2rem 0;
        margin: .5rem 0 0 0;
        display: block;
    }

    #message {
        min-width: 100%;
        min-height: 200px;
        padding: 2rem;
        background-color: #EDEDED;
        border-radius: 0 3rem 3rem 3rem;
    }

    #message::placeholder {
        position: absolute;
    }

/* Footer */

    footer {
        padding: 2rem 0;
        background-color: #C6E8F9;
        width: 100%;
    }

    .footer-container {
        width: 90%;
    }

    .footer-social-container img {
        width: 1.5rem;
        cursor: pointer;
    }

    .category ul {
        list-style: none;
    }

    .category-name {
        font-size: 16px;
        font-weight: 700;
        color: var(--light-blue);
        text-decoration: underline;
    }

    .category ul li {
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    .category ul li a,
    .link-info {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
    }

    .contact {
        font-weight: 600;
        color: var(--light-blue);
    }

    .arrow {
        width: 25px;
        position: absolute;
        margin-left: 1rem;
    }

/* Estilos aplicables a otras páginas */

    /* Services Page */

    .cards-container {
        width: fit-content;
        margin: 2rem auto 0;
    }

    .service-card {
        width: 80%;
        padding: 5%;
        margin: auto;
        margin-bottom: 4rem;
        box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.11);
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .service-card .right-container, .service-card .left-container{
        max-width: 50%;
    }

    .service-card .left-container{
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
    }

    .service-name {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20px;
        color: var(--light-blue);
    }

    .tecnologies-container img {
        width: 2.2vw;
    }

    /* Portfolio Page */

    .gallery-container {
        width: 60%;
        margin: 1rem auto;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, .5fr);
        grid-gap: 1rem;
    }

    .project-preview {
        background-color: #EDEDED;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2.5rem;
    }

    .first-project {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .first-project img {
        transform: rotate(90deg);
    }

    .second-project {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
    }

    .third-project {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    .fourth-project {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    /* About Page */

    .statements__container {
        width: fit-content;
        margin: 3rem auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .statements__container div {
        width: 22%;
    }
    
    .statement {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .statement img {
        width: 3vw;
    }

    .statement p {
        font-size: 13px;
        text-align: center;
    }
    
    .info__container {
        width: 60%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .category-name.info {
        text-decoration: none;
        cursor: pointer;
    }

    .info__category:not(:first-child) {
        margin-left: 2rem;
    }

    .info__category:not(:last-child) {
        border-right: 2px solid #EDEDED;
        padding-right: 2.5rem;
    }


/* Media Queries */

    @media screen and (max-width: 960px) {

        /* BootStrap - Estilos necesarios para que se muestre un menú hamburguesa al achicarse el tamaño de la pantalla.
        
        → Transiciones para hacer de su uso y aplicación unos más intuitivos, pasando de un menú hamburguesa básico de tres lineas usa sobre otra a una indicación de cómo cerrar el menú en caso de no querer visualizarlo más. */

            header {
                background-color: var(--white);
                height: fit-content;
                padding: .8rem;
                position: fixed;
                display: initial;
            }

            .collapse:not(.show) {
                display: none;
            }

            .navbar-toggler {
                float: right;
            }

            .navbar-nav {
                width: fit-content;
                height: 100vh;
                margin: auto;
                margin-top: 2rem;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                background-color: #ffffff;
            }
            
            .header__nav {
                height: 100vh;
                
            }

            .header__nav li {
                margin-top: 2rem;
            }

            .header__nav li:first-child {
                margin-top: 1.16rem;
            }

            .header__nav li:not(:first-child){
            margin-left: 0;
            }

            .animated-icon1 {
                width: 30px;
                height: 20px;
                position: relative;
                right: 0;
                margin: 0px;
                transition: .5s ease-in-out;
                cursor: pointer;
            }
            
            .animated-icon1 span {
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                border-radius: 9px;
                opacity: 1;
                float: right;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;
            }
            
            .animated-icon1 span {
                background-color: rgba(0, 0, 0, 0.5);
            }

            .animated-icon1 span:nth-child(1) {
                top: 0px;
            }
            
            .animated-icon1 span:nth-child(2) {
                top: 10px;
            }
            
            .animated-icon1 span:nth-child(3) {
                top: 20px;
            }
            
            .animated-icon1.open span:nth-child(1) {
                top: 11px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
            }
            
            .animated-icon1.open span:nth-child(2) {
                opacity: 0;
                left: -60px;
            }
            
            .animated-icon1.open span:nth-child(3) {
                top: 11px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }

        /* Main Section */
        
            .main-section__container {
                flex-direction: column;
                text-align: center;
                margin-top: 15vh;
            }

            .main-section__text {
                width: 45vw;
            }

            .main-section__text h1 {
                font-size: 25px;
            }
            .main-section__text h2 {
                font-size: 18px;
            }

            .main-section__img {
                display: none;
            }

            .main-section__button {
                border-radius: 5px;
            }

            /* Footer */

            .footer-container {
                flex-direction: column;
            }

            .footer-container .category:not(:first-child) {
                margin-top: 1.5rem;
            }

        /* Contenedores de texto de secciones varias */

            .services-section__text-container,
            .contact-section__text-container,
            .text-container {
                width: 60vw;
            }

            .services-section__text-container p,
            .contact-section__text-container p,
            .text-container p {
                width: 60vw;
                font-size: 13px;
            }

            .services-section__items-container {
                flex-direction: column;
                font-size: 12px;
            }

            .services-section__items-container img {
                width: 60%;
            }

            /* About Section */
            .about-section__items-container {
                flex-direction: column;
            }

            .data:not(:last-child) {
                margin-bottom: 1rem;
            }

        /* Projects Section */

            .projects-container {
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 1rem;
                grid-column-gap: 1rem;
            }

        /* Testimonial Section */

            .testimonial-card {
                width: 20rem;
                height: auto;
            }

            .quote-decoration {
                top: 0;
            }

        /* Contact Section */

            .form-container {
                width: 60vw;
                margin: auto;
            }

            .field:not(:first-of-type) {
                margin-left: 0;
            }

            form input, #message {
                width: 60vw;
            }

        /* Services Page */

            .service-card {
                flex-direction: column;
            }

            .service-card .right-container {
                font-size: 13px;
                text-align: center;
            }

            .service-card .tecnologies-container {
                margin: 2rem auto;
            }

            .service-card .right-container,
            .service-card .left-container {
                max-width: 80%;
            }

            .tecnologies-container img {
                width: 4vw;
            }


        /* Portfolio page */

            .project-preview {
                padding: .5rem;
            }

            .project-preview img {
                width: 60%;
            }
            
            .first-project img {
                width: 30%;
            }

            /* About Page */
            .statements__container {
                flex-direction: column;
            }

            .statements__container div {
                width: 40%;
            }

            .statement img {
                width: 5vw;
            }
            
            .statement:last-child {
                margin-top: 2rem;
            }


            .info__container {
                flex-direction: column;
                align-items: self-start;
            }

            .category-name.info {
                text-decoration: none;
                cursor: pointer;
            }
            
            .info__category:not(:first-child) {
                margin-top: 2rem;
                margin-left: 0;
            }

            .info__category:not(:last-child) {
                border-right: 0;
                border-bottom: 2px solid #EDEDED;
                padding-bottom: 2.5rem;
            }
    }
